.navbar {
	margin-bottom: 10px;
}
.navbar-text {
	padding-left: 15px;
}
.navbar-inverse {
	background: #37474f;
	border-color: #37474f;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-text {
  color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #263238;
}
.navbar-inverse .navbar-toggle {
  border-color: #aaa;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #263238;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #263238;
}
.navbar-brand .glyphicon {
	font-size: 30px;
	float: left;
	margin-right: 10px;
	top: -3px;
}

.breadcrumb li a { color: #37474f;}
.folder-content:focus {
	background: #000;
}
.folder-content td {
	height: 50px;
	vertical-align: middle !important;
}
.folder-content td:first-child {
	width: 40px;
}
.folder-content td:nth-child(2) {
	min-width: 150px;
}
.folder-content .glyphicon {
	font-size: 20px;
}
.column-type {
	width: 150px;
}
.column-size {
	width: 100px;
}
.column-date {
	width: 150px;
}
.folder-header th {
	color: #37474f;
	font-size: 17px;
}
.folder-header a {
	color: #37474f;
}
.folder-header .glyphicon {
	font-size: 10px;
}