.navbar {
	margin-bottom: 10px;
}
.navbar-text {
	padding-left: 15px;
}
.navbar-inverse {
	background: #37474f;
	border-color: #37474f;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-text {
  color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #263238;
}
.navbar-inverse .navbar-toggle {
  border-color: #aaa;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #263238;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #263238;
}
.navbar-brand .glyphicon {
	font-size: 30px;
	float: left;
	margin-right: 10px;
	top: -3px;
}

.navbar-offset {
	margin-top: 61px;
}

.breadcrumb li a { color: #37474f;}
.folder-content:focus {
	background: #000;
}
.breadcrumb button {
}
.page-header {
	margin-top: 0 !important;
}
#table-contents,
#table-user-list {
	table-layout:fixed;
	width:100%;
}
.folder-content td,
.user-content td,
.user-add td {
	height: 50px;
	vertical-align: middle !important;
}
.column-icon {
	width: 35px;
	max-width: 35px;
}
.column-name {
	min-width: 150px;
	position: relative;
	left: -35px;
}
.column-actions {
	width: 65px;
	max-width: 65px;
}
.folder-content .glyphicon,
.user-content .glyphicon {
	font-size: 20px;
}
.column-size {
	width: 80px;
	min-width: 80px;
}
.column-date,
.column-date-created {
	width: 120px;
	min-width: 120px;
}
.column-id {
	width: 50px;
	max-width: 50px;
}
.column-type {
	width: 80px;
	max-width: 80px;
}
.column-action {
	width: 120px;
	max-width: 120px;
}
.column-time {
	width: 150px;
	max-width: 150px;
}
.column-admin {
	width: 80px;
	max-width: 80px;
	overflow: none;
}
.content-name,
.content-username {
	overflow: hidden;
}
.content-actions {
	text-align: right;
}
.content-actions a {
	padding: 0;
	display: inline;
	margin-left: 5px;
}
.content-admin .glyphicon {
	font-size: 15px;
}
.content-admin a {
	padding: 0;
	display: inline;
	margin-left: 5px;
}
.user-content:hover .content-admin a {
	display: inline !important;
}
.content-admin .glyphicon-arrow-down {
	color: #c9302c !important;
}
.content-admin .glyphicon-arrow-up {
	color: #449d44 !important;
}
.folder-content:hover .content-actions a,
.user-content:hover .content-actions a {
	display: inline !important;
}
.content-actions .glyphicon {
	font-size: 15px;
}
.content-actions .glyphicon-trash {
	color: #c9302c;
}
.content-actions .glyphicon-download-alt {
	color: #286090;
}
.folder-header th,
.user-header th,
.logs-header th {
	color: #37474f;
	font-size: 17px;
}
.folder-header a,
.user-header a,
.logs-header a {
	color: #37474f;
}
.folder-header .glyphicon,
.user-header .glyphicon,
.logs-header .glyphicon {
	font-size: 10px;
}
.alert {
	padding: 5px 30px 5px 10px;
}
.alert-fixed-top {
	position: fixed;
	top: 9px;
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.file-icon {
	font-size: 150px;
	text-align: center;
}
#add-folder-form {
	display: none;
}
.sidebar {
	padding: 10px 0;
}
.sidebar-title {
	margin: 0 20px;
}
.panel-multiple .panel {
	margin: 0 10px;
}
.tab-pane {
	padding: 20px;
}


@media screen and (max-width: 768px) {
	.visible-xs-inline {
		display: inline !important;
	}
	.sidebar {
		margin-top: 61px;
	}
	.sidebar-nav {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.visible-xs-inline {
		display: none !important;
	}
	.sidebar {
		position:fixed;
		background-color: #f5f5f5;
		top: 51px;
		left: 0;
		height: 100%;
		width: 200px;
	}
	.content {
		margin-left: 200px;
		margin-top: 61px;
	}
	.sidebar-nav .btn-group {
		width: 100%;
	}
	.sidebar-nav a {
		display: block;
		background: none;
		border-radius: 0;
		width: 100%;
		border: none;
		text-align: left;
		font-size: 15px;
		padding: 12px 20px;
	}
}